body {
  text-align: center;
  background-color: black;
  color: white;
}

.wholeNavbar {
  display: flex;
  position: fixed;
  justify-content: space-around;
  width: 100%;
  padding-top: 5px;
  border-bottom: 1px transparent;
  z-index: 1;
  height: 30px;
}

.logo {
  background: transparent none;
}

.posts {
  padding-top: 38px;
}

.instalogo {
  background-image: transparent;
}